body{
    opacity: 1;
    background-image: radial-gradient(#222222 1.05px, #273955 1.05px);
    background-size: 21px 21px;
    color: #d5f365;
    font-family: "Raleway", serif;
    font-size: xxx-large;
    text-align: center;
}
h1{
    color: #d5f365;
    font-family: "Raleway", serif;
    /* font-size: xxx-large; */
}
p{
    display: block;
    margin: auto;
    width: fit-content;
    color: blanchedalmond;
    font-family: "Raleway", serif;
    max-width: 70%;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}